<body>
    

    <div class="bg-login pt-4 pb-4 shadow text-center">
    
        <img  width="15%" src="../../../assets/Imagenes/Logos/user.png"/>
         <p class="fs-2 login">Login</p>
    
         <form action="">
            <div class="pt-0">
                <img src="../../../assets/Imagenes/Logos/emaill.png" width="8%" class="pb-1 px-1" alt="">
                <input type="email" placeholder="User" class="rounded shadow px-3 " style="border: none;">                       
            </div>
    
            <div class="pt-2 justify-content-center">
                <img src=".../../../assets/Imagenes/Logos/password.png" width="8%" class="pb-1 pass " alt="">
                <input type="password" placeholder="Password"  class="rounded shadow px-3 " style="border: none;">
            </div>
    
            <div class="pt-3 ">
                <button   class="btn btn-primary text-light px-4 mx-1">
                    Register 
                </button>
    
                <button  class="btn btn-light px-4 mx-1">
                    Login
                </button>
            </div>           
            
         </form>
    
         <div class="justify-content-center">
            <p class="social pt-3 text-light">O INGRESA CON TU CUENTA DE GOOGLE</p>
            
            <button id="buttonDiv" class="btn">
                <img src="https://img.icons8.com/fluency/48/000000/google-logo.png" class="" width="0%"/> Login
    
            </button> 
            
            <div id="buttonDiv"></div> 
         </div>
    
        
       
        
      
    </div>
    
    
    </body>