<body> 
    <div class="container-fluid">
        <div class="row pt-5">
            <div class="col-xl-2 col-md-1  d-none d-sm-block"></div>
            <div class="col-xl-4 col-md-5 col-sm-12 p-4 p-md-3">
                <h2 class="pb-4">Bienvenido</h2>
                <p class="fs-4">Aqui podras gestionar tus tareas de trabajo.</p>
                <p class="fs-5">Podras realizar adición, modificación, eliminación y listado de tareas.</p>
                <div class="bg-cuadro d-flex align-items-center justify-content-center">
                    <p class="fs-3 text-light tarea">
                        TAREAS!
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-5 col-sm-12 p-4 p-md-3 mb-5 mb-sm-0">
                <div *ngIf="!registro">
                    <app-login (messageEvent)="actualizar($event)" ></app-login>
                </div>
                <div *ngIf="registro">
                    <app-register (messageEvent)="actualizar($event)"></app-register>
                </div>
            </div>
            <div class="col-xl-2 col-md-1  d-none d-sm-block">

            </div>
        </div>
    </div>
</body>