<body>

    <header>

        <nav *ngIf="login=='0'" class="navbar bg-black ">
            <div class="container-fluid " >
                <h3 class="text-light fw-bold pt-2">PRUEBA TECNICA</h3>                             
                <div class="navbar-content d-flex justify-content-end">
                    
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-5 p-2 m-1" routerLink="general" >
                               Home
                            </a>
                        </li>
             
                    </ul>
                </div>
            </div>
        </nav>

        


        <nav *ngIf="login!='0'" class="navbar bg-black ">
            <div class="container-fluid " >
                <h3 class="text-light fw-bold pt-2">PRUEBA TECNICA</h3>    
                          
                <div class="navbar-content d-flex justify-content-end">
                    
                    <ul class="nav">
                       

                        <li class="nav-item">
                            <a href="" rel="noopener noreferrer" (click)="salir()" class=" nav-item text-decoration-none text-light  fs-5 p-2 m-1" >
                               Salir
                            </a>
                        </li>
                        <li class="nav-item">
                            <a rel="noopener noreferrer" class=" nav-item text-decoration-none text-light  fs-5 p-2 m-1" >
                             <img class="mx-1 "  width="30px" src="../../../../assets/Imagenes/Logos/user.png"/> {{name}}
                             </a>
                               
                        </li>
             
                    </ul>
                </div>
            </div>
        </nav>


    </header>
    
</body>