<body> 
    <div class="container-fluid">
        
      


            
              
              <div class="row mt-4" >
             
                <div class="col-xl-3 col-md-4 col-sm-6 col-12 mb-3 "*ngFor="let tareas of auxiliar">

                    <div class="p-3 estilo shadow">

                        <p class="fs-5 fw-bold">{{tareas.name}}</p>
                        <p class="fs-6">{{tareas.body}}</p>

                    </div>



              
              </div>
            </div>
            </div>
        
   
   
</body>