<body>
    <div class="bg-login pt-3 pb-4 shadow text-center">

        <img  width="15%" src="../../../../assets/Imagenes/Logos/user.png"/>
         <p class="fs-2 login">Registrate</p>
    
          <form   [formGroup]="registerForm"(onSubmit)="register()" >
            <div class="pt-0">
               
                <input type="text" placeholder="Nombre de usuario"  class="rounded shadow px-3 " formControlName="name" style="border: none;">                       
               
            </div>
            
            <div class="pt-2 justify-content-center">
               <input type="text" placeholder="Email" class="rounded shadow px-3 " formControlName="email" style="border: none;">   
            </div>
            <span class="error">{{ getError('email')}}</span>            
            <span *ngIf="!aux" class="error">{{ emailDuplicado()}}</span>            
    
             <div class="pt-2 justify-content-center">
               <input type="password" placeholder="Contraseña" class="rounded shadow px-3 " formControlName="password" style="border: none;">   
             </div>
             <span class="error">{{ getError('password')}}</span>  
             <div class="pt-2 justify-content-center">
                <input type="password" placeholder="Repita contraseña" class="rounded shadow px-3 " formControlName="password2" style="border: none;">   
              </div>
              <span class="error">{{ getError('password2')}}</span>  
              <span class="error">{{ errorPass()}}</span>
            <div class="pt-4 ">

               <button  class="btn btn-light px-4 mx-1" (click)="back()">
                  Back
              </button>
               
               <button  class="btn btn-primary px-4 mx-1" [disabled]="registerForm.invalid" (click)="register()">
                    Let go
                </button>
            </div>           
            
         </form>
           
        
      
    </div>
</body>